[submodule "emulators/mos65xx"]
	path = emulators/mos65xx
	url = https://github.com/gufranco/mos65xx-python.git
[submodule "emulators/snes-dsp"]
	path = emulators/snes-dsp
	url = https://github.com/gufranco/snes-dsp-python.git
[submodule "emulators/snes-mapper"]
	path = emulators/snes-mapper
	url = https://github.com/gufranco/snes-mapper-python.git
[submodule "emulators/snes-rom-image"]
	path = emulators/snes-rom-image
	url = https://github.com/gufranco/snes-rom-image-python.git
